<h2>测试表单模板</h2>
<div [class]="{'divclas':true}">
    <ul>
        <li>
            姓名：<input type="text" id="username" [(ngModel)]="user.username" [ngClass]="{'nameclas':true}" />
        </li>
        <li>
            性别：<input type="radio" value="1" name="sexx" [(ngModel)]="user.sex" id="sex1"><label for="sex1">男</label>
            <input type="radio"  value="2" name="sexx" [(ngModel)]="user.sex" id="sex2"><label for="sex2">女</label>
        </li>
        <li>
            城市：
            <select [(ngModel)]="user.city">
                <option [value]="item" *ngFor="let item of user.citylist">{{item}}</option>
            </select>
        </li>
        <li>
            爱好：
            <span *ngFor="let item of user.likeslist;let key = index">
                <input type="checkbox" [id]='"check"+key' [(ngModel)]="item.checked" /><label [for]="'check'+key">{{item.title}}</label>
                &nbsp;&nbsp;&nbsp;
            </span>
        </li>
    </ul>
    <button [ngClass]="{'butclas':true}" (click)="getsubmit()">查看/隐藏内容</button>
</div>
<div [class]="{'divresultclas':true}"  [hidden]="hid">
    <pre>
    {{user | json}}
    </pre>
</div>
